<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <hr />
    <div class="col-md-12">
        <form class="form-inline" action="{:url('insert')}" method="post">
            <label>员工编号:</label><br>
            <input type="text" name="staff_id" /><br>
            <label>所属事业部:</label><br>
            <input type="text" name="staff_name" /><br>
            <label>费用内容:</label><br>
            <input type="text" name="staff_bu" /><br>
            <label>费用金额:</label><br>
            <input type="text" name="cost_content"  /><br>
            <label>收入扣减:</label><br>
            <input type="text" name="cost_sum"  /><br>
            <label>季度薪酬池减少:</label><br>
            <input type="text" name="staff_id" /><br>
            <label>季度费用池减少:</label><br>
            <input type="text" name="staff_name" /><br>
            <label>财年薪酬池减少:</label><br>
            <input type="text" name="staff_bu" /><br>
            <label>财年费用池减少:</label><br>
            <input type="text" name="cost_content"  /><br>
            <label>申请日期:</label><br>
            <input type="date" name="apply_date"  /><br>
            <hr />
            <button type="submit">新增</button>
        </form>
    </div>
</div>
</body>
</html>
</body>
</html>