<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <hr />
    <div class="col-md-12">
        <form class="form-inline" action="{:url('insert')}" method="post">
            <label>员工编号:</label><br>
            <input type="text" name="staff_id" /><br>
            <label>员工姓名:</label><br>
            <input type="text" name="staff_name" /><br>
            <label>所属事业部:</label><br>
            <input type="text" name="staff_bu" /><br>
            <label>计提金额:</label><br>
            <input type="text" name="drawing_amount"  /><br>
            <label>计提日期:</label><br>
            <input type="date" name="drawing_date"  /><br>
            <hr />
            <button type="submit">新增</button>
        </form>
    </div>
</div>
</body>
</html>
</body>
</html>