<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" action="{:url('insert')}" method="post">
            <label>合同号:</label><br>
            <input type="text" name="contract_id" required="required" /><br>
            <label>分公司:</label><br>
            <input type="text" name="company" required="required" /><br>
            <label>买方单位:</label><br>
            <input type="text" name="buyer" required="required" /><br>
            <label>发函日期:</label><br>
            <input type="date" name="letter_date"  /><br>
            <label>买卖合同起诉金额:</label><br>
            <input type="text" name="eq_litigation" required="required"  /><br>
            <label>安装合同起诉金额:</label><br>
            <input type="text" name="in_litigation" required="required"  /><br>
            <label>维保合同起诉金额:</label><br>
            <input type="text" name="ma_litigation" required="required"  /><br>
            <label>投标保证金:</label><br>
            <input type="text" name="bid_bond" required="required"  /><br>
            <label>类型:</label><br>
            <select name="type">
                <option>诉讼</option>
                <option>律师函</option>
            </select><br>
            <label>是否结案:</label><br>
            <select name="if_close">
                <option>否</option>
                <option>是</option>
            </select><br>
            <label>进展情况:</label><br>
            <textarea rows="5" cols="40" type="text" name="progress" class="textarea"> </textarea>
            <hr />
            <button type="submit">保存</button>
        </form>
    </div>
</div>
</body>
</html>