<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" action="{:url('insert')}" method="post">
            <label>员工编号:</label><br>
            <input type="text" name="staff_id" required="required" /><br>
            <label>姓名:</label><br>
            <input type="text" name="staff_name" required="required" /><br>
            <label>性别:</label><br>
            <input type="text" name="sex" required="required" /><br>
            <label>密码:</label><br>
            <input type="text" name="password" value="5690dddfa28ae085d23518a035707282" required="required"  /><br>
            <label>角色:</label><br>
            <input type="text" name="role" required="required"  /><br>
            <label>分公司:</label><br>
            <input type="text" name="company" required="required"  /><br>
            <hr />
            <button type="submit">保存</button>
        </form>
    </div>
</div>
</body>
</html>