<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完工信息</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" id="contract_id">合同号</label>
                        <input name="contract_id" type="text" class="form-control" placeholder="合同号..."value="{:input('get.contract_id')}">
                        <label class="sr-only" id="supervisor">项目经理</label>
                        <input name="supervisor" type="text" class="form-control" placeholder="项目经理..."value="{:input('get.supervisor')}">
                        <label class="sr-only" id="complete_date_from">完工日期从</label>
                        <input name="complete_date_from" type="text" required="required" class="form-control" placeholder="完工日期从..."value="{:input('get.complete_date_from')}">
                        <label class="sr-only" id="complete_date_to">完工日期至</label>
                        <input name="complete_date_to" type="text" required="required" class="form-control" placeholder="完工日期至..."value="{:input('get.complete_date_to')}">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </form>
            </div>
            <div class="col-md-2 text-right">
                <a href="{:url('exportComplete')}" class="btn btn-danger"><i class="glyphicon glyphicon-export"></i>&nbsp;导出</a>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped table-condensed">
            <tr class="info">
                <th>序号</th>
                <th>生产工号</th>
                <th>合同号</th>
                <th>项目经理</th>
                <th>发货日期</th>
                <th>进场日期</th>
                <th>完工日期</th>
                <th>PDA录入是否及时</th>
                <th>实际安装支出</th>
                <th>关闭日期</th>
                <th>操作</th>
            </tr>
            {volist name="products" id="_Product" key="key"}
            <tr>
                <td>{$_Product->getData('id')}</td>
                <td>{$_Product->getData('product_id')}</td>
                <td>{$_Product->getData('contract_id')}</td>
                <td>{$_Product->getData('supervisor')}</td>
                <td>{$_Product->getData('delivery_date')}</td>
                <td>{$_Product->getData('entry_date')}</td>
                <td>{$_Product->getData('complete_date')}</td>
                <td>{$_Product->getData('pda_intime')}</td>
                <td>{$_Product->getData('installation_expenditure')}</td>
                <td>{$_Product->getData('close_date')}</td>
                <td>&nbsp;<a class="btn btn-sm btn-primary" href="{:url('completeEdit?id=' . $_Product->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a></td>
            </tr>
            {/volist}
        </table>
        {$products->render()}
    </div>
</div>
</body>
</html>